@use "../abstracts";

%flexIterCenter {
    display: flex;
    align-items: center;
}

%dot {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

%dot {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post {
    background: #fff;
    padding-bottom: 10px;

    &__containers {
        margin-top: 100px;
    }
}

.post-wrap {
    position: relative;

    &__img {
        width: 100%;
        height: 410px;
        object-fit: cover;
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        color: #fff !important;
        text-shadow: #000 0.1em 0.1em 0.2em;
    }
}

.post-container {
    &__img {
        width: 100%;
        height: 276px;
        object-fit: cover;
    }

    &__date {
        margin-top: 24px;
        color: var(--primary-text-color);
        font-size: 1.8rem;
        line-height: 1.67;
        letter-spacing: -0.36px;
    }

    &__title {
        color: var(--text-heading-color);
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.35;
        letter-spacing: -1.12px;

        @extend %dot;
        -webkit-line-clamp: 1;
    }

    &__desc {
        margin-top: 18px;
        color: var(--primary-text-color);
        font-size: 1.8rem;
        line-height: 1.67;
        letter-spacing: -0.36px;
    }

    &__link {
        @extend %flexIterCenter;
        gap: 10px;
        margin-top: 24px;

        color: var(--text-heading-color);
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: -0.8px;
    }
}

.blog-detail {
    padding: 40px 0 0;

    &__wrap {
        width: 80%;
        margin-left: 100px;
    }

    &__date {
        margin-top: 24px;
        color: var(--text-heading-color);
        font-size: 2rem;
        letter-spacing: -0.8px;
    }

    &__img {
        display: block;
        width: 100%;
        height: 500px;
        object-fit: cover;
        margin-top: 68px;
    }

    &__content {
        background: #fff;
    }

    &__container {
        padding: 64px 295px 152px;
    }

    &__desc + &__desc {
        margin-top: 28px;
    }

    &__desc {
        &--margin {
            margin-top: 34px;
        }
    }

    &__title {
        margin-top: 34px;
        color: var(--text-heading-color);
        font-size: 36px;
        font-weight: 500;
        line-height: 1.33;
        letter-spacing: -0.72px;
    }

    &__img-small {
        margin: 34px 0;
        width: 670px;
        height: 500px;
        object-fit: cover;
    }

    &__footer {
        @extend %flexIterCenter;
        justify-content: space-between;
        padding: 26px 0;
        border-top: 1px solid #828282;
        border-bottom: 1px solid #828282;
    }

    &__info {
        @extend %flexIterCenter;
        gap: 24px;
    }

    &__avt {
        width: 74px;
        height: 74px;
        object-fit: cover;
        border-radius: 50%;
    }

    &__name {
        color: var(--text-heading-color);
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.34;
        letter-spacing: -1.12px;
    }

    &__position {
        margin-top: 12px;
        color: var(--primary-text-color);
        font-size: 2rem;
        letter-spacing: -0.8px;
    }
}

.blog-other {
    margin-top: 100px;

    &__list {
        margin-top: 40px;
        padding-bottom: 100px;
    }
}

.blog-item {
    display: block;

    &__thumb {
        width: 100%;
        height: 276px;
        object-fit: cover;
    }

    &__date {
        margin-top: 24px;
        color: var(--primary-text-color);
        font-size: 1.8rem;
        line-height: 1.67;
        letter-spacing: -0.36px;
    }

    &__title {
        margin-top: 10px;
        color: var(--text-heading-color);
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.35;
        letter-spacing: -1.12px;

        @extend %dot;
        -webkit-line-clamp: 1;
    }

    &__desc {
        margin-top: 18px;
        color: var(--primary-text-color);
        font-size: 1.8rem;
        line-height: 1.67;
        letter-spacing: -0.36px;

        @extend %dot;
        -webkit-line-clamp: 3;
    }

    &__btn {
        @extend %flexIterCenter;
        gap: 10px;
        margin-top: 26px;

        color: var(--text-heading-color);
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: -0.8px;
    }
}
