.section-heading {
    color: var(--text-heading-color);
    font-size: 7.6rem;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: -3.04px;
    text-transform: capitalize;
}

.section-desc {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: -0.4px;
}
