@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.work {
    &__inner {
        padding: 100px 0;
    }
}

.work-content {
    text-align: center;

    &__desc {
        margin: 0 auto;
        width: 45%;
    }
}

.work-wrap {
    @extend %flexItemCenter;
    justify-content: space-between;
    margin-top: 60px;

    &__content {
        width: 33%;
    }

    &__box {
        padding-bottom: 24px;
        border-bottom: 1px solid #828282;
    }

    &__box + &__box {
        margin-top: 43px;
    }

    &__sub {
        color: #828282;
        font-size: 2rem;
        letter-spacing: -0.8px;
    }

    &__title {
        margin-top: 12px;
        font-size: 5.8rem;
        font-weight: 500;
    }

    &__desc {
        margin-top: 20px;
        font-size: 1.8rem;
        line-height: 1.67;
    }

    &__img {
        width: 645px;
        height: 827px;
        object-fit: cover;
        flex-shrink: 0;
    }
}
