<div class="container">
    <div class="header-inner">
        <a href="./">
            <img
                class="header-inner__logo"
                src="./assets/img/logo.png"
                alt=""
            />
        </a>
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="./" class="navbar__link">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="./about.html" class="navbar__link">About</a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Projects</a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Contact</a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Blog</a>
                </li>
            </ul>
        </nav>
        <div class="header-action">
            <a
                href="mailto:trunghoang.240500@gmail.com"
                class="btn header-action__btn"
                >Contact</a
            >
        </div>
    </div>
</div>
